<% include ../partials/header %>
<!--class="navbar navbar-light" style="background-color: #e3f2fd;"-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


<div class="container">
    <% if(currentUser && currentUser.isAdmin) { %>
    <h1>Εισαι Διαχειριστης/στρια</h1>
    <% } %> 
    <header class="jumbotron ">
        <div class="container">
            <h2> Νοσοκομείο Πατρών</h2>
            <p></p>
        <p>
            <a class="btn btn-primary btn-large" href="/patients/new">Προσθεστε Ασθενη</a>
        </p>
        <form action = "/patients" method="GET" class="form-inline">
            <div class="form-group">
                <input type ="text" name ="search" placeholder ="Ευρεση Ασθενη" class="form-control">
                <input type="submit" value = "Search" class="btn vtn default">
            </div>
        </form>
        <hr>
        <div class ="form-group mb-2">
            <form  action = "/patients" method="GET" class="form-inline">
            <div class="form-group">
                <input type ="text" name ="search1" placeholder ="Ευρεση Γιατρου" class="form-control">
                <input type="submit" value = "Search" class="btn vtn default">
            </div>
        </form>
        </div>
        </div>
</header>
<h1>Ασθενεις</h3>
<table class="table">
    <thead>
        <tr>
            <th scope = "col">Αριθμος Ασθενη</th>
            <th scope = "col">Όνομα</th>
            <th scope = "col">Επώνυμο </th>
            <th scope = "col">Ημερομηνία Γέννησης </th>
            <th scope = "col">Υπευθυνος Γιατρος </th>
            <th scope = "col">Δημιουργηθηκε </th>
        </tr>
    </thead>    
    <%var i=0 %>
    <% patients.forEach(function(patient,i){%>
        <%i+=1 %>
    
    <tbody >    
        <tr class='clickable-row' data-href='/patients/<%= patient._id %>' style ="cursor:pointer">
            <td><a class="alpha"><%= i %></a></td>
            <td><a class="alpha"><%= patient.firstName %></a></td> 
            <td><a class="alpha"><%= patient.lastName %></a></td>
            <td><a class="alpha"><%= moment(patient.birthday).format('DD-MM-YYYY') %></a></td>
            <td><a class="alpha"><%= patient.doc %></a></td>
            <td><a class="alpha"><%= moment(patient.createdAt).fromNow() %></a></td>
        </tr>
        
 <% }) %>
     </tbody>
</table>



</div>


</div>

 <script>
     jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
 </script>


<% include ../partials/footer %>

