<% include ../partials/header %>


    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/patients">Ασθενεις</a></li>
        </ol>
    </nav>



    



    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <div class="text-center" >
                    <h1 >Στοιχεια Ασθενή</h1>
                </div>
                <div class="card text-center mx-auto" >
                    <img src="https://eitrawmaterials.eu/wp-content/uploads/2016/09/person-icon.png"  class="card-img-top" >
                    <div class="card-body">
                <div class="row patient_row">
                    <div class="col-sm">Όνομα :</div>
                    <div class="col-sm">
                        <%= patient.firstName %>
                    </div>
                </div>
                <div class="row mt-3 patient_row">
                    <div class="col-sm">Επώνυμο :</div>
                    <div class="col-sm">
                        <%= patient.lastName %>
                    </div>
                </div>
                <div class="row mt-3 patient_row">
                    <div class="col-sm">Πατρωνυμο:</div>
                    <div class="col-sm">
                        <%= patient.patronym %>
                    </div>
                </div>
                <div class="row mt-3 patient_row">
                    <div class="col-sm">Ηλικία :</div>
                    <div class="col-sm">
                        <%= moment(patient.birthday).format('DD-MM-YYYY') %>
                    </div>

                </div>
                <div class="row mt-3 patient_row">
                    <div class="col-sm">AM :</div>
                    <div class="col-sm">
                        <%= patient.patientAM %>
                    </div>
                </div>
                <div class="row mt-3 patient_row">
                    <div class="col-sm">Bαρος :</div>
                    <div class="col-sm">
                        <%= patient.weight %> kg
                    </div>
                </div>
                <div class="row mt-3 patient_row">
                    <div class="col-sm">Υψος :</div>
                    <div class="col-sm">
                        <%= patient.height %> m
                    </div>
                </div>
                <div class="row mt-3 patient_row">
                    <div class="col-sm">Κινητο Τηλεφωνο :</div>
                    <div class="col-sm">
                        <%= patient.mPhone %>
                    </div>
                </div>

                <div class="row mt-3 patient_row">
                    <div class="col-sm">Πολη/Χωριο :</div>
                    <div class="col-sm">
                        <%= patient.city %>
                    </div>
                </div>
                <div class="row mt-3 patient_row">
                    <div class="col-sm">Διευθυνση :</div>
                    <div class="col-sm">
                        <%= patient.address %>
                    </div>
                </div>
                <div class="row mt-3 patient_row">
                    <div class="col-sm">Τυπος Αιματος :</div>
                    <div class="col-sm">
                        <%= patient.bloodType %>
                    </div>
                </div>

                <div class="row mt-3 patient_row">
                    <div class="col-sm">Γιατρος :</div>
                    <div class="col-sm">
                        <%= patient.doc %>
                    </div>
                </div>



                <div class="row mt-3 patient_row">
                    <div class="col-sm">Γενικές Πληροφορίες :</div>
                    <div class="col-sm">
                        <%= patient.general %>
                    </div>
                </div>

                <div class="row mt-3 patient_row">
                    <div class="col-sm">
                        <span class="pull-right">
                            <p>
                                Δημιουργηθηκε απο τον/την : <%= patient.author.username %>, <%=
                                        moment(patient.createdAt).fromNow() %>
                            </p>
                        </span>
                    </div>
                </div>


                

                




                <% if(currentUser && patient.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){
                    %>
                    <div class="row mt-3">
                        <p class="col-sm">
                            <a class="btn btn-warning btn-larg" href="/patients/<%= patient._id %>/edit">Επεξεργασία</a>
                        </p>
                    </div>
                    <form id="delete-form" action="/patients/<%= patient._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-xs btn-danger">Διαγραφή</button>
                    </form>
                    <% } %>
            </div>
        </div>
    </div>
            <div class="col-5">
                <div>
                    <h1 class="text-center ">Ανοσοθεραπείες</h1>
                </div>

                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Αριθμος Ασθενειας :</th>
                                <th scope="col">Ημ/νια Διάγνωσης :</th>
                                <th scope="col">ΦΑΡΜΑΚΑ (ΟΔΗΓΙΕΣ - ΟΔΟΣ ΧΟΡΗΓΗΣΕΩΣ) :</th>
                                <th scope="col">Γιατρος :</th>
                                <th scope="col">Δημιουργηθηκε :</th>
                            </tr>
                        </thead>
                        <%var i=0 %>
                            <% patient.diagnoses.forEach(function(diagnose,i){ %>
                                <%i+=1 %>
                                    <tbody>
                                        <tr class='clickable-row'
                                            data-href="/patients/<%= patient._id %>/diagnoses/<%= diagnose._id %>"
                                            style="cursor:pointer">
                                            <td>
                                                <a class="alpha">
                                                    <%= i %>
                                                </a>
                                            </td>
                                            <td>
                                                <a class="alpha">
                                                    <%= moment(diagnose.date).format('DD-MM-YYYY') %>
                                                </a>
                                            </td>
                                            <td>
                                                <a class="alpha">
                                                    <%= diagnose.courseOfTreatment %>
                                            </td>
                                            <td>
                                                <a class="alpha">
                                                    <%= diagnose.doc %>
                                            </td>
                                            <td>
                                                <a class="alpha">
                                                    <%= moment(diagnose.createdAt).fromNow() %>
                                            </td>
                                        </tr>
                                        <% }) %>
                                    </tbody>
                    </table>
                </div>
                <p>
                    <a class="btn btn-primary btn-large" href="/patients/<%= patient._id %>/diagnoses/new">Πρόσθεστε
                        Διάγνωση</a>
                </p>
            </div>
            <div class="col-5">
                <div>
                    <h1 class="text-center ">Αρχεία</h1>
                </div>
                <form action="/patients/<%= patient._id %>" method="POST" enctype="multipart/form-data">
                    <!--?_method=PUT -->
                    <div class="form-group ">
                        <label for="exampleFormControlFile1">File input</label>
                        <input name="myImage" type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

    </div>


    <% include ../partials/footer %>