<% include ../partials/header %>


<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/patients">Ασθενεις</a></li>
  </ol>
</nav>



<div>
    <h1 class="text-center">Πληροφορίες Ασθενή</h1>
</div>



<div class="container">
    <div class="row ">
        <div class="container  p-5 ">
            <div class="row ">
                <div class="col-sm">Όνομα :</div>
                <div class="col-sm"><%= patient.firstName %></div>
            </div>
            <div class="row mt-3">
                <div class="col-sm">Επώνυμο :</div>
                <div class="col-sm"><%= patient.lastName %></div>
            </div>
            <div class="row mt-3">
                <div class="col-sm">Ηλικία :</div>
                <div class="col-sm"><%= moment(patient.birthday).format('DD-MM-YYYY') %></div>
                
            </div>
            <div class="row mt-3">
                <div class="col-sm">Κινητο Τηλεφωνο :</div>
                <div class="col-sm"><%= patient.mPhone %></div>
            </div>
            <div class="row mt-3">
                <div class="col-sm">Σταθερο Τηλεφωνο :</div>
                <div class="col-sm"><%= patient.sPhone %></div>
            </div>
            <div class="row mt-3">
                <div class="col-sm">Πολη/Χωριο :</div>
                <div class="col-sm"><%= patient.city %></div>
            </div>
            <div class="row mt-3">
                <div class="col-sm">Διευθυνση :</div>
                <div class="col-sm"><%= patient.address %></div>
            </div>
            <div class="row mt-3">
                <div class="col-sm">Τυπος Αιματος :</div>
                <div class="col-sm"><%= patient.bloodType %></div>
            </div>
            
            <div class="row mt-3">
                <div class="col-sm">Γιατρος :</div>
                <div class="col-sm"><%= patient.doc  %></div>
            </div>
            
            <div class="row mt-3">
                <div class="col-sm">Αλεργιες περιβαλλοντος/τροφιμων :</div>
                <div class="col-sm"><%= patient.alerg1  %></div>
            </div>
            <div class="row mt-3">
                <div class="col-sm">Πληροφοριες αλλεργιων περιβαλλοντος/τροφιμων :</div>
                <div class="col-sm"><%= patient.alerg1_text  %></div>
            </div>
            
            <div class="row mt-3">
                <div class="col-sm">Αλεργιες σε φαρμακα :</div>
                <div class="col-sm"><%= patient.alerg2  %></div>
            </div>
            <div class="row mt-3">
                <div class="col-sm">Πληροφοριες αλλεργιων σε φαρμακα :</div>
                <div class="col-sm"><%= patient.alerg2_text %></div>
            </div>
            
            <div class="row mt-3">
                <div class="col-sm">Γενικές Πληροφορίες :</div>
                <div class="col-sm"><%= patient.general %></div>
            </div>
            
            <div class="row mt-3">  
                <div class="col-sm">
                    <span class="pull-right">
                <p>
                    Δημιουργηθηκε απο τον/την : <%= patient.author.username %>, <%= moment(patient.createdAt).fromNow() %>
                </p>
            </span>
                </div>
            </div>
            
            
            <% if(currentUser && patient.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
            <div class="row mt-3">
                <p class="col-sm">
                    <a class="btn btn-warning btn-larg" href="/patients/<%= patient._id %>/edit">Επεξεργασία</a>
                </p>
            </div>
            <form id="delete-form" action="/patients/<%= patient._id %>?_method=DELETE" method="POST">
                <button class="btn btn-xs btn-danger">Διαγραφή</button>
            </form>
            <% } %>
            <hr>
            <div>
                <h1 class="text-center p-2">Διαγνώσεις</h1>
            </div>
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope = "col">Αριθμος Ασθενειας :</th>
                            <th scope = "col">Ημ/νια Διάγνωσης :</th>
                            <th scope = "col">Ασθένεια :</th>
                            <th scope = "col">Γιατρος :</th>
                            <th scope = "col">Δημιουργηθηκε :</th>
                        </tr>
                    </thead>
                    <%var i=0 %>
                    <% patient.diagnoses.forEach(function(diagnose,i){ %>
                        <%i+=1 %>
                    <tbody >    
                            <tr>
                                <td><a class="alpha"><%= i %></a></td> 
                                <td ><a class="alpha" href = "/patients/<%= patient._id %>/diagnoses/<%= diagnose._id %>"><%= moment(diagnose.date).format('DD-MM-YYYY') %></a></td> 
                                <td><a class="alpha" href = "/patients/<%= patient._id %>/diagnoses/<%= diagnose._id %>"><%= diagnose.disease %></td>
                                <td><a class="alpha" href = "/patients/<%= patient._id %>/diagnoses/<%= diagnose._id %>"><%= diagnose.doc %></td>
                                <td><a class="alpha" href = "/patients/<%= patient._id %>/diagnoses/<%= diagnose._id %>"><%= moment(diagnose.createdAt).fromNow() %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
            <p>
            <a class="btn btn-primary btn-large" href="/patients/<%= patient._id %>/diagnoses/new">Πρόσθεστε Διάγνωση</a>
            </p>
        </div>
    </div>
</div>


<% include ../partials/footer %>