<% include ../partials/header %>


    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/patients">Ασθενεις</a></li>
        </ol>
    </nav>



    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <div class="text-center">
                    <h1>Στοιχεία Ασθενή</h1>
                </div>
                <div class="card text-center mx-auto">
                    <img src="https://eitrawmaterials.eu/wp-content/uploads/2016/09/person-icon.png" class="card-img-top">
                    <div class="card-body">
                        <div class="row patient_row">
                            <div class="col-sm">Όνομα :</div>
                            <div class="col-sm">
                                <%= patient.firstName %>
                            </div>
                        </div>
                        <div class="row mt-3 patient_row">
                            <div class="col-sm">Επώνυμο :</div>
                            <div class="col-sm">
                                <%= patient.lastName %>
                            </div>
                        </div>
                        <div class="row mt-3 patient_row">
                            <div class="col-sm">Πατρώνυμο:</div>
                            <div class="col-sm">
                                <%= patient.patronym %>
                            </div>
                        </div>
                        <div class="row mt-3 patient_row">
                            <div class="col-sm">Ηλικία :</div>
                            <div class="col-sm">
                                <%= moment(patient.birthday).format('DD-MM-YYYY') %>
                            </div>

                        </div>
                        <div class="row mt-3 patient_row">
                            <div class="col-sm">AM :</div>
                            <div class="col-sm">
                                <%= patient.patientAM %>
                            </div>
                        </div>
                        <div class="row mt-3 patient_row">
                            <div class="col-sm">Bάρος :</div>
                            <div class="col-sm">
                                <%= patient.weight %> kg
                            </div>
                        </div>
                        <div class="row mt-3 patient_row">
                            <div class="col-sm">Ύψος :</div>
                            <div class="col-sm">
                                <%= patient.height %> m
                            </div>
                        </div>
                        <div class="row mt-3 patient_row">
                            <div class="col-sm">Κινητό Τηλέφωνο :</div>
                            <div class="col-sm">
                                <%= patient.mPhone %>
                            </div>
                        </div>

                        <div class="row mt-3 patient_row">
                            <div class="col-sm">Πόλη/Χωριό :</div>
                            <div class="col-sm">
                                <%= patient.city %>
                            </div>
                        </div>
                        <div class="row mt-3 patient_row">
                            <div class="col-sm">Διεύθυνση :</div>
                            <div class="col-sm">
                                <%= patient.address %>
                            </div>
                        </div>
                        <div class="row mt-3 patient_row">
                            <div class="col-sm">Τύπος Αίματος :</div>
                            <div class="col-sm">
                                <%= patient.bloodType %>
                            </div>
                        </div>

                        <div class="row mt-3 patient_row">
                            <div class="col-sm">Γιατρός :</div>
                            <div class="col-sm">
                                <%= patient.doc %>
                            </div>
                        </div>



                        <div class="row mt-3 patient_row">
                            <div class="col-sm">Γενικές Πληροφορίες :</div>
                            <div class="col-sm">
                                <%= patient.general %>
                            </div>
                        </div>

                        <div class="row mt-3 patient_row">
                            <div class="col-sm">
                                <span class="pull-right">
                                    <p>
                                        Δημιουργήθηκε απο τον/την : <%= patient.author.username %>, <%=
                                                moment(patient.createdAt).fromNow() %>
                                    </p>
                                </span>
                            </div>
                        </div>



                        <% if(currentUser && patient.author.id.equals(currentUser._id) || currentUser &&
                            currentUser.isAdmin){ %>
                            <div class="row mt-3">
                                <p class="col-sm">
                                    <a class="btn btn-warning btn-larg" href="/patients/<%= patient._id %>/edit">Επεξεργασία</a>
                                </p>
                            </div>

                            <div data-toggle="tooltip" data-placement="right" title="Για να διαγραψετε αυτη την εγγραφη , πρεπει πρωτα να διαγραφουν ολες οι ανοσοθεραπειες της.">
                                <form id="delete-form" action="/patients/<%= patient._id %>?_method=DELETE" method="POST">
                                    <button id='disableBtnPatient' class="btn btn-xs btn-danger">Διαγραφή</button>
                                </form>
                            </div>

                            <% } %>
                    </div>
                </div>
            </div>
            <div class="col-7">
                <div>
                    <h1 class="text-center ">Ανοσοθεραπείες <button style="display:none" type="button" class="btn btn-primary">Expand/Collapse All</button></h1>
                </div>




                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <% data.patient.diagnoses.forEach(function(x, index){ %>

                            <% var tIndex="heading_" +index %>
                                <% var zIndex="collapse_" +index %>
                                    <div class="card-header" id="<%=tIndex%>">
                                        <h2 class="mb-0">
                                            <button class="btn btn-block text-left btn-success" type="button" data-toggle="collapse" data-target="#<%=zIndex%>" aria-expanded="true" aria-controls="<%=zIndex%>">
                                                <a class="link-success"
                                                    href="/patients/<%= patient._id %>/diagnoses/<%= x._id %>">ΑΝΟΣΟΘΕΡΑΠΕΙΑ
                                                    <%= moment(x.date).format('DD-MM-YYYY') %> -
                                                        <%= x.courseOfTreatment %> -
                                                            <%= x.doc %> </a>
                                                <span class="badge badge-secondary float-right">Δοσεις <%=
                                                        x.treatments.length %></span>
                                            </button>
                                            <% if(currentUser && patient.author.id.equals(currentUser._id) ||
                                                currentUser && currentUser.isAdmin){ %>
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <form action="" class='mr-2'>
                                                        <button name="button" class="btn btn-warning"> <a
                                                                href="/patients/<%= patient._id %>/diagnoses/<%= x._id %>/edit">Επεξεργασία</a></button>
                                                    </form>

                                                    <!-- <form id="delete-form" action="/patients/<%= patient._id %>/diagnoses/<%= x._id %>?_method=DELETE" method="POST">
                                                        <button class="btn btn-danger checkDeletion">Διαγραφή</button>
                                                    </form> -->

                                                    <%if(Object.keys(x.treatments).length === 0){%>

                                                        <form id="delete-form" action="/patients/<%= patient._id %>/diagnoses/<%= x._id %>?_method=DELETE" method="POST">
                                                            <button class="btn btn-danger checkDeletion">Διαγραφή</button>
                                                        </form>
                                                        <%} else {%>
                                                            <div data-toggle="tooltip" data-placement="right" title="Για να διαγραψετε αυτη την εγγραφη , πρεπει πρωτα να διαγραφουν ολες οι Δοσεις της.">
                                                                <form id="delete-form" action="/patients/<%= patient._id %>/diagnoses/<%= x._id %>?_method=DELETE" method="POST">
                                                                    <button class="btn btn-danger checkDeletion" disabled>Διαγραφή</button>
                                                                </form>
                                                            </div>
                                                            <%}%>
                                                </div>
                                                <% } %>
                                        </h2>
                                    </div>

                                    <div id="<%=zIndex%>" class="collapse" aria-labelledby="<%=tIndex%>_dose">


                                        <% data.treatment.forEach(function(y, index){ %>
                                            <%if (x.treatments.includes(y._id)){%>
                                                <div class="card-body">


                                                    <% var tIndex="heading1_" +index %>
                                                        <% var zIndex="collapse1_" +index %>
                                                            <div class="card-header" id="<%=tIndex%>_dose">
                                                                <h2 class="mb-0">
                                                                    <button class="btn btn-block text-left btn-success" type="button" data-toggle="collapse" data-target="#<%=zIndex%>_dose" aria-expanded="true" aria-controls="<%=zIndex%>">
                                                                        <a
                                                                            href="/patients/<%= patient._id %>/diagnoses/<%= x.id %>/treatments/<%=y._id %>">ΔΟΣΗ
                                                                            <%= moment(y.date).format('DD-MM-YYYY') %>
                                                                                -%>
                                                                                <%= y.status %> -%>
                                                                                    <%= y.staff %> -%>
                                                                                        <%= y.numOfApproval %> - %>
                                                                                            <%= y.numOfDose %> %></a>
                                                                        <span
                                                                            class="badge badge-light float-right">Παρενεργειες
                                                                        </span>
                                                                    </button>
                                                                    <% if(currentUser &&
                                                                        patient.author.id.equals(currentUser._id) ||
                                                                        currentUser && currentUser.isAdmin){ %>
                                                                        <div class="btn-group" role="group" aria-label="Basic example">
                                                                            <form action="" class='mr-2'>
                                                                                <button name="button" class="btn btn-warning"> <a
                                                                                        href="/patients/<%= patient._id %>/diagnoses/<%= x.id %>/treatments/<%=y._id %>/edit">Επεξεργασία</a></button>
                                                                            </form>
                                                                            <% if(Object.keys(y.effects).length === 0 ){%>
                                                                                <form id="delete-form" action="/patients/<%= patient._id %>/diagnoses/<%= x.id %>/treatments/<%=y._id %>?_method=DELETE" method="POST">
                                                                                    <button class="btn btn-danger">Διαγραφή</button>
                                                                                </form>
                                                                                <% }else{%>
                                                                                    <div data-toggle="tooltip" data-placement="right" title="Για να διαγραψετε αυτη την εγγραφη , πρεπει πρωτα να διαγραφουν ολες οι παρενέργειες της.">
                                                                                        <form id="delete-form" action="/patients/<%= patient._id %>/diagnoses/<%= x.id %>/treatments/<%=y._id %>?_method=DELETE" method="POST">
                                                                                            <button class="btn btn-danger" disabled>Διαγραφή</button>
                                                                                        </form>
                                                                                    </div>
                                                                                    <%}%>

                                                                        </div>
                                                                        <% } %>
                                                                </h2>
                                                            </div>

                                                </div>
                                                <% }%>
                                                    <div id="<%=zIndex%>_dose" class="collapse" aria-labelledby="<%=tIndex%>_dose">
                                                        <div class="card-body">

                                                            <% y.effects.forEach(function(ef, index){ %>

                                                                <%arr=[]%>

                                                                    <%['pancreas', 'eyesight' , 'muscle' , 'skin' , 'lungs'
                                                                , 'stomach_bowel' ].forEach(function(des){%>
                                                                        <% dat=ef[des].effects %>

                                                                            <% for (let [skey, svalue] of Object.entries(dat)) {
                                                                        %>
                                                                                <% if(svalue && skey!=='$init' ){ %>


                                                                                    <% for (let [keyy, valuee] of
                                                                                Object.entries(effects)) { %>

                                                                                        <% for (let [keyy1, valuee1] of
                                                                                    Object.entries(valuee.effects)) { %>

                                                                                            <%if (keyy1===skey){%>
                                                                                                <% arr.push(valuee1.name)%>
                                                                                                    <%}%>
                                                                                                        <%}%>
                                                                                                            <%}%>


                                                                                                                <% } %>
                                                                                                                    <%}%>
                                                                                                                        <%})%>

                                                                                                                            <div class='card-group'>
                                                                                                                                <div class="card bg-info">
                                                                                                                                    <div class="card-body">
                                                                                                                                        <h4 class="card-title">
                                                                                                                                            <%= moment(ef.date).format('DD-MM-YYYY')
                                                                                                                                        %>
                                                                                                                                        </h4>
                                                                                                                                        <p class="card-text font-weight-bold">

                                                                                                                                            <%= arr.join(',')
                                                                                                                                        %>
                                                                                                                                        </p>
                                                                                                                                        <div class="btn-group" role="group" aria-label="Basic example">
                                                                                                                                            <form action="" class='mr-2'>
                                                                                                                                                <button name="button" class="btn btn-warning">
                                                                                                                                            <a
                                                                                                                                                href="/effects/<%= ef._id %>/edit">Επεξεργασία</a></button>
                                                                                                                                            </form>
                                                                                                                                            <form id="delete-form" action="/effects/delete/<%= ef._id %>?_method=DELETE" method="POST">
                                                                                                                                                <button class="btn btn-danger">Διαγραφή</button>
                                                                                                                                            </form>
                                                                                                                                        </div>
                                                                                                                                    </div>
                                                                                                                                </div>
                                                                                                                            </div>






                                                                                                                            <% })%>

                                                        </div>
                                                    </div>

                                                    <% }) %>
                                    </div>
                                    <% }) %>

                    </div>

                </div>
                <p>
                    <a class="btn btn-primary btn-large" href="/patients/<%= patient._id %>/diagnoses/new">Πρόσθεστε
                        Διάγνωση</a>
                </p>
                <hr>

            </div>

            <div class="col-3">
                <div>
                    <h1 class="text-center ">Αρχεία</h1>
                </div>
                <form action="/patients/<%= patient._id %>" method="POST" enctype="multipart/form-data">
                    <!--?_method=PUT -->
                    <div class="form-group ">
                        <label for="exampleFormControlFile1">File input</label>
                        <input name="myImage" type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

    </div>

    <%if(patient.diagnoses.length === 0){%>
        <input type="hidden" id="checkDiagnoses" name="checkDiagnoses" value="false">
        <%} else {%>
            <input type="hidden" id="checkDiagnoses" name="checkDiagnoses" value="true">
            <%}%>

                <% include ../partials/footer %>