<% include ../partials/header %>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/patients/<%= patient_id %>/diagnoses/<%= diagnose._id%>">Πισω</a></li>
        </ol>
    </nav>


    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1 class="text-center display-4 my-4">Θεραπεία </h1>

                <form action="/patients/<%= patient_id %>/diagnoses/<%= diagnose._id %>/treatments" method="POST">



                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="colFormLabel">Ημερομηνία Δοσης :</label>
                        <div class="col-sm-5">
                            <input type="date" class="form-control" id="colFormLabel" name="treatment[date]" placeholder="Ημερομηνία Δοσης">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-4 col-form-label">ΦΑΡΜΑΚΑ (ΟΔΗΓΙΕΣ - ΟΔΗΓΙΕΣ ΧΟΡΗΓΗΣΕΩΣ) :</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="treatment[courseOfTreatment]" id="colFormLabel" placeholder="ΦΑΡΜΑΚΑ (ΟΔΗΓΙΕΣ - ΟΔΗΓΙΕΣ ΧΟΡΗΓΗΣΕΩΣ)" required minlength="1" maxlength="100">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-4 col-form-label">Πορεια Νοσου :</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="treatment[status]" id="colFormLabel" placeholder="Πορεια Νοσου" required minlength="1" maxlength="100">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-4 col-form-label">Αριθμος Εγκρισης :</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="treatment[numOfApproval]" id="colFormLabel" placeholder="Αριθμος Εγκρισης" required minlength="1" maxlength="100">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-sm-2">
                            <label for="mg">Miligrams</label>
                            <input type="text" name="treatment[mg]" class="form-control" id="mg">
                        </div>
                        <div class="form-group col-sm-2">
                            <label for="numOfDose">Αριθμος Δοσεων</label>
                            <select id="numOfDose" name="treatment[numOfDose]" class="form-control">
                        <option selected>Αριθμος Δοσεων </option>
                        <optgroup >
                          <option name="-" value="-">-</option>
                          <option name="x1" value="x1">x1</option>
                          <option name="x2" value="x2">x2</option>
                          <option name="x3" value="x3">x3</option>
                          <option name="x4" value="x4">x4</option>
                          <option name="x5" value="x5">x5</option>
                        </optgroup>
                      </select>
                        </div>

                    </div>

                    <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-4 col-form-label">Νοσηλευτης :</label>
                        <div class="col-sm-5">
                            <select class="btn btn-secondary dropdown-toggle" class="staff" data-style="btn-info" name="treatment[staff]">
<optgroup label="Select Table">
    <% for(var i=0; i<hosp_staff.length; i++) {%>
        <% fullname = hosp_staff[i].role + ' - ' +hosp_staff[i].surname +' '+ hosp_staff[i].name %>
        <option type='text' name="staff" value=" <%= hosp_staff[i].surname +' '+ hosp_staff[i].name %> "><%= fullname%></option>
    <% } %>
</optgroup>
</select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="exampleTextarea">Παρατηρησεις :</label>
                        <div>
                            <textarea class="form-control" name="treatment[observation]" id="exampleTextarea" cols="200" rows="10"></textarea>
                        </div>
                    </div>


                    <div class="col-md-8 text-center">
                        <button class="btn btn-primary btn-lg">Υποβολή!</button>
                    </div>

            </div>


            </form>

        </div>


    </div>
    </div>

    <% include ../partials/footer %>