<% include ../partials/header %>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/patients">Ασθενεις</a></li>
            <li class="breadcrumb-item"><a href="/patients/<%= patient_id %>">Ασθενης</a></li>
            <li class="breadcrumb-item"><a href="/patients/<%= patient_id %>/diagnoses/<%= diagnose_id %>">Διαγνωση</a></li>
        </ol>
    </nav>

    <!-- <% if (patient_id) { %>
        <script>
           $( "body" ).data( "foo", <%= patient_id %> ).data();         
        </script>
   <% } %> -->

    <input type="hidden" id="patient" value="<%= patient_id %>" />
    <input type="hidden" id="diagnose" value="<%= diagnose_id %>" />
    <input type="hidden" id="treatment" value="<%= treatment._id %>" />


    <div>
        <h1 class="text-center">Πληροφορίες Θεραπειας
    </div>
    </h1>
    </div>

    <div class="container">
        <div class="row ">
            <div class="container  p-5 ">
                <div class="row mt-3 patient_row">
                    <div class="col-sm ">Νοσηλευτης :</div>
                    <div class="col-sm">
                        <%= treatment.staff  %>
                    </div>
                </div>



                <div class="row mt-3 patient_row">
                    <div class="col-sm">Ημερομηνία Δοσης :</div>
                    <div class="col-sm">
                        <%= moment(treatment.date).format('DD-MM-YYYY') %>
                    </div>
                </div>

                <div class="row mt-3 patient_row">
                    <div class="col-sm">Αριθμος Εγκρισης :</div>
                    <div class="col-sm">
                        <%= treatment.numOfApproval %>
                    </div>
                </div>

                <div class="row mt-3 patient_row">
                    <div class="col-sm">Δοσολογια :</div>
                    <div class="col-sm">
                        <%= treatment.mg %>mg
                            <%= treatment.numOfDose %>
                    </div>
                </div>

                <div class="row mt-3 patient_row">
                    <div class="col-sm">Πορεία Νόσου :</div>
                    <div class="col-sm">
                        <%= treatment.status %>
                    </div>
                </div>


                <div class="row mt-3 patient_row">
                    <div class="col-sm">Γενικές Παρατηρησεις :</div>
                    <div class="col-sm">
                        <%= treatment.observation %>
                    </div>
                </div>


                <span class="pull-right">
                <p>
                    <em>Δημιουργηθηκε απο τον/την : <%= treatment.beta.username %>, <%= moment(treatment.createdAt).fromNow() %></em>
                </p>
            </span>
                <% if(currentUser && treatment.beta.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                    <div class="row mt-3">
                        <p class="col-sm">
                            <a class="btn btn-warning btn-large" href="/patients/<%=patient_id %>/diagnoses/<%=diagnose_id %>/treatments/<%=treatment._id %>/edit">Επεξεργασία</a>
                        </p>
                    </div>
                    <form action="/patients/<%= patient_id %>/diagnoses/<%= diagnose_id %>/treatments/<%=treatment._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger btn-large">Διαγραφή</button>
                    </form>
                    <% } %>
                        <hr>
            </div>
        </div>
    </div>

    <div>
        <h1 class="text-center">Παρενεργειες
    </div>

    <div class="container myc">
        <div class="row mygrid">
            <!-- js code added here via sideeffects.js -->
        </div>
    </div>


    <div class="container-fluid">
        <div id='effectsForm'>
            <form id='formEffects'>


                <div class="row">
                    <% for (const [key, value] of Object.entries(effects)) { %>

                        <div class="col-sm mt-2">
                            <ul class="list-group docs">

                                <li class="list-group-item active">
                                    <%= value.baseName %>
                                </li>
                                <% for (const [key1, value1] of Object.entries(value.effects)) { %>

                                    <li class="list-group-item ">
                                        <input type="checkbox" id='<%= key1 %>' name='<%= key1 %>' class="btn-check checkers" !checked />
                                        <%= value1.name %>
                                            <!-- <input type="checkbox" class="btn-check" id='<%= key1 %>' name='<%= key1 %>' !checked autocomplete="off">
                                        <label class="btn btn-primary" for='<%= key1 %>'><%= value1.name %></label> -->
                                            <!-- <br> -->

                                    </li>
                                    <% } %>

                            </ul>
                        </div>

                        <% } %>

                            <div class="form-group row">
                                <label class="col-sm col-form-label" for="colFormLabel">Ημερομηνία :</label>
                                <div class="col-sm-10">
                                    <input type="date" class="form-control effectdate " id="colFormLabel" name="datep" placeholder="Ημερομηνία">
                                </div>
                            </div>

                            <!-- <p>Date: <input type="text" id="datepicker" class='effectdate'></p>  2nd way with datepicker-->
                            <div class="col-sm-10">
                                <button type="submit" class="addbtn1 btn btn-primary mb-2">Αποθηκευση</button>
                            </div>
                </div>

            </form>
        </div>



        <button type="submit" class="btn btn-info showForm">Προσθηκη φορμας παρενεργειων</button>
    </div>




    <!-- <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <ul class="list-group docs">
                    <li class="list-group-item active">Γιατροι</li>
                </ul>
            </div>
            <div class="col-sm">
                <ul class="list-group">
                    <li class="list-group-item active">Νοσηλευτες</li>

                </ul>
            </div>
            <div class="col-sm">
                <ul class="list-group">
                    <li class="list-group-item active">Προσωπικο</li>
                </ul>
            </div>
        </div>
    </div> -->


    <% include ../partials/footer %>