<% include ../partials/header %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/patients">Ασθενεις</a></li>
    <li class="breadcrumb-item"><a href="/patients/<%= patient_id %>">Ασθενης</a></li>
    <li class="breadcrumb-item"><a href="/patients/<%= patient_id %>/diagnoses/<%= diagnose_id %>">Διαγνωση</a></li>
  </ol>
</nav>



<div>
    <h1 class="text-center">Πληροφορίες Θεραπειας <%= %></div></h1>
</div>
    

<div class="container">
    <div class="row ">
        <div class="container  p-5 ">
            <div class="row mt-3">
                <div class="col-sm">Υπεύθυνος Γιατρός :</div>
                <div class="col-sm"><%= treatment.doc  %></div>
            </div>
            
            
            
            <div class="row mt-3">
                <div class="col-sm">Ημερομηνία Διάγνωσης :</div>
                <div class="col-sm"><%= moment(treatment.date).format('DD-MM-YYYY') %></div>
            </div>
            
            <div class="row mt-3">
                <div class="col-sm">Γενικές Πληροφορίες :</div>
                <div class="col-sm"><%= treatment.general %></div>
            </div>
            
            
            <span class="pull-right">
                <p>
                    <em>Δημιουργηθηκε απο τον/την : <%= treatment.beta.username %>, <%= moment(treatment.createdAt).fromNow() %></em>
                </p>
            </span>
            <% if(currentUser && treatment.beta.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
            <div class="row mt-3">
                <p class="col-sm">
                    <a class="btn btn-warning btn-large" href="/patients/<%=patient_id %>/diagnoses/<%=diagnose_id %>/treatments/<%=treatment._id %>/edit">Επεξεργασία</a>
                </p>
            </div>
            <form action="/patients/<%= patient_id %>/diagnoses/<%= diagnose_id %>/treatments/<%=treatment._id %>?_method=DELETE" method="POST">
                <button class="btn btn-danger btn-large">Διαγραφή</button>
            </form>
            <% } %>
            <hr>
        </div>
    </div>
</div>


<% include ../partials/footer %>