<%- include('../partials/header') -%>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/patients">Ασθενεις</a></li>
            <li class="breadcrumb-item"><a href="/patients/<%= patient_id %>">Ασθενης</a></li>
        </ol>
    </nav>

    <div>
        <h1 class="text-center">Πληροφορίες Aνοσοθεραπείας</h1>
    </div>

    <div class="container">
        <div class="row ">
            <div class="container">

                <div class="row mt-3 patient_row">
                    <div class="col-sm">ΦΑΡΜΑΚΑ (ΟΔΗΓΙΕΣ - ΟΔΟΣ ΧΟΡΗΓΗΣΕΩΣ):</div>
                    <div class="col-sm ">
                        <%= diagnose.courseOfTreatment %>
                    </div>
                </div>
                <div class="row mt-3 patient_row">
                    <div class="col-sm">Ημερομηνία Aνοσοθεραπείας :</div>
                    <div class="col-sm">
                        <%= moment(diagnose.date).format('DD-MM-YYYY') %>
                    </div>
                </div>
                <div class="row mt-3 patient_row">
                    <div class="col-sm">Υπευθυνος Γιατρος :</div>
                    <div class="col-sm">
                        <%= diagnose.doc %>
                    </div>
                </div>

                <div class="row mt-3 patient_row">
                    <div class="col-sm">Γενικές Πληροφορίες :</div>
                    <div class="col-sm">
                        <%= diagnose.general %>
                    </div>
                </div>
                <div class="row mt-3 patient_row">
                    <div class="col-sm">Ημερομηνία Ληξης Διάγνωσης :</div>
                    <div class="col-sm">
                        <%= moment(diagnose.EndDate).format('DD-MM-YYYY') %>
                    </div>
                </div>
                <div class="row mt-3 patient_row">
                    <div class="col-sm">
                        <span class="pull-right">
                            <p>
                                Δημιουργηθηκε απο τον/την : <%= diagnose.alpha.username %>, <%=
                                        moment(diagnose.createdAt).fromNow() %>
                            </p>
                        </span>
                    </div>
                </div>

                <% if(currentUser && diagnose.alpha.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){
                    %>
                    <div class="row mt-3">
                        <p class="col-sm">
                            <a class="btn btn-warning btn-large" href="/patients/<%=patient_id %>/diagnoses/<%=diagnose._id %>/edit">Επεξεργασία</a>
                        </p>
                    </div>
                    <form action="/patients/<%= patient_id %>/diagnoses/<%= diagnose._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger btn-large">Διαγραφή</button>
                    </form>
                    <% } %>
                        <hr>
                            <div class="row">
                                <div class="col-md">
                                    <h1 class="text-center">Δοσεις</h1>
                                    <table id="myPatientsTable" class="display" style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th scope="col">Αριθμος Δόσης :</th>
                                                <th scope="col">Ημ/νια Δόσης :</th>
                                                <th scope="col">Οδηγίες χορηγήσεως :</th>
                                                <th scope="col">Δοσολογεια :</th>
                                                <th scope="col">Αριθμος Εγκρισης :</th>
                                                <th scope="col">Νοσηλευτης :</th>
                                                <th scope="col">Πορεία Νοσου :</th>
                                                <th scope="col">Παρατηρησεις :</th>
                                                <th scope="col">Δημιουργηθηκε απο :</th>
                                            </tr>
                                        </thead>
                                      <tbody>
                                        <%var i=0 %>
                                        <% diagnose.treatments.forEach(function(treatment,i){ %>
                                            <%i+=1 %>
                                        <tr
                                          class="clickable-row"
                                          data-href="/patients/<%= patient_id %>/diagnoses/<%= diagnose.id %>/treatments/<%=treatment._id %>"
                                          style="cursor: pointer"
                                        >
                                        <td>
                                            <a class="alpha">
                                                <%= i %>
                                            </a>
                                        </td>
                                        <td>
                                            <a class="alpha">
                                                <%= moment(treatment.date).format('DD-MM-YYYY') %>
                                            </a>
                                        </td>
                                        <td>
                                            <a class="alpha">
                                                <%= treatment.courseOfTreatment%>
                                        </td>
                                        <td>
                                            <a class="alpha">
                                                <%= treatment.mg +' '+ treatment.numOfDose %>
                                        </td>
                                        <td>
                                            <a class="alpha">
                                                <%= treatment.numOfApproval %>
                                        </td>
                                        <td>
                                            <a class="alpha">
                                                <%= treatment.staff %>
                                        </td>
                                        <td>
                                            <a class="alpha">
                                                <%= treatment.status %>
                                        </td>
                                        <td>
                                            <a class="alpha">
                                                <%= treatment.observation %>
                                        </td>
                                        <td>
                                            <a class="alpha">
                                                <%= diagnose.alpha.username %>
                                        </td>
                                        </tr>
                                        <% }) %>
                                      </tbody>
                                    </table>
                                  </div>
                            
                    
                        </div>
                        <p>
                            <a class="btn btn-primary btn-large" href="/patients/<%= patient_id %>/diagnoses/<%= diagnose._id %>/treatments/new">Πρόσθεστε
                                Δοση</a>
                        </p>
            </div>
        </div>
    </div>


    <%- include('../partials/footer') -%>
